spring:
  application:
    name: HeysoDiaryBackEnd
  profiles:
    active: local
  rsocket:
    server:
      port: 8080

  # flyway db-migration
  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration

mybatis:
  mapper-locations: classpath:/mapper/**/*.xml
  configuration:
    map-underscore-to-camel-case: true